<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sarthak</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-800">
    <nav class="flex items-center justify-between flex-wrap p-4 bg-purple-700">
      <div class="flex items-center flex-shrink-0 text-teal-100 mr-6">
        <span class="font-semibold text-xl tracking-tight">sarthak</span>
      </div>
      <a
        href="../paste"
        class="block mt-2 lg:inline-block lg:mt-0 text-teal-100 hover:text-white"
      >
        Paste</a
      >
      <a
        href="https://github.com/sarthhh/"
        class="block mt-2 lg:inline-block lg:mt-0 text-teal-100 hover:text-white"
      >
        <img
          src="../static/assets/github.png"
          class="mr-2 flex-shrink-0 object-contain"
          style="height: 35px"
        />
      </a>
    </nav>

    Under development
  </body>
</html>
